/* Aplicados a todas las páginas */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.formatoTitulo1{
    color: blueviolet;
    text-align: center;
    font-size: 90px;
    font-family: 'Caveat', cursive;
    border: dotted 10px grey;
    border-radius: 50px;
    margin: 20px;
}

.menuGeneral{
    font-family: 'Kalam', cursive;
    top: 0;
    z-index: 1;
    width: auto;
    height: 50px;
    position: sticky;
    display: flex;
    justify-content: center;
}

.menuGeneral ul{
    display: flex;
    gap: 20px;
}

.menu{
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(219, 199, 241);
    padding: 8px 7px 8px 7px;
    border-radius: 50px;
    margin-top: 10px;
}

a{
    color: black;
}

h2{
    color: blueviolet;
    font-size: 65px;
    font-family: 'Caveat', cursive;
}

h3{
    color: blueviolet;
    font-size: 40px;
    font-family: 'Caveat', cursive;
}

p{
    font-size: 20px;
    font-family: 'Kalam', cursive;
}

.formatoFooter{
    background-color: grey;
    width: auto;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    font-family: 'Kalam', cursive;
    margin: 4rem 0rem 2rem 0rem;
}

.formatoFooter p{
    margin-right: 2rem;
}
/* Hasta acá se aplica en todas las páginas */


/* Página de inicio */
.presentacion {
    display: grid;
    grid-template-areas: "mirada mirada" 
                        "video video"
                        "comoSoy comoSoy";
    margin: 3rem 0rem 3rem 0rem;
    gap: 3rem;
}

.mirada{
    grid-area: mirada;
    text-align: center;
}

.video{
    grid-area: video;
    width: 100%;
}

.comoSoy{
    grid-area: comoSoy;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.caracteristicas{
    list-style-type: circle;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Kalam', cursive;
}

.foto{
    width: 380px;
    height: 400px;
    border-radius: 50px;
    margin: 1rem;
}

.galeria{
    grid-area: galeria;
}

.contenedorFotos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.fotitos{
    text-align: center;
}

.card{
    background-color: rgb(153, 153, 153);
    width: 18rem;
    text-align: center;
}

.card img {
    width: 100%;
}
/* Fín de página de inicio */


/* Página de historia */
.mainHistoria{
    gap: 3rem;
    padding: 2rem;
    display: grid;
    grid-template-areas: "article1 article1"
                        "galeria galeria"
                        "article2 article2";
}

.article1{
    grid-area: article1;
}

.article2{
    grid-area: article2;
}
/* Fín de página de inicio */


/* Página de voluntariado */
.formatoRotaract{
    display: inline;
    margin-right: 70px;
}

.formatoLogo{
    display: inline;
}

.formatoLink{
    list-style-type: none;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(219, 199, 241);
    display: inline-block;
    padding: 8px 7px 8px 7px;
    border-radius: 50px;
    margin-top: 30px;
}
/* Fín de página de voluntariado */


/* Página de contacto */
form{
    font-family: 'Kalam', cursive;
    margin: 30px 60px 30px 30px;
}

fieldset{
    font-size: 20px;
    padding: 40px;
    border: 1px solid blueviolet;
    border-radius: 50px;
    background-color: rgb(219, 199, 241);
}

legend{
    font-size: 40px;
    color: blueviolet;
}

.formatoItems{
    padding: 10px;
}
input{
    font-family: 'Kalam', cursive;
}

select{
    font-family: 'Kalam', cursive;
}

.formatoConsulta{
    display: block;
    height: 100px;
    padding: 10px;
    text-align:left;
    width: 650px;
}

.formatoBotones{
    text-align: center;
    margin: auto;
}

.formatoBoton{
    margin: 20px;
    padding: 8px 7px 8px 7px;
    border-radius: 50px;
}

.formatoPD{
    text-align: right;
    font-weight: 600;
    color: blueviolet;
    font-size: 25px;
    margin-top: 20px;
}
/* Fín de Contacto */


/* MQ */
@media screen and (max-width:600px) {
    .foto{
        width: 280px;
        height: 300px;
        border-radius: 50px;
    }
    .menuGeneral ul{
        display: flex;
        gap: 0.3rem;
    }
    .menu{
        font-size: 15px;
    }
    .comoSoy{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:1024px) {
    .presentacion {
        display: grid;
        grid-template-areas: "mirada mirada comoSoy" 
                            "video video comoSoy";
        margin: 3rem 0rem 3rem 0rem;
        justify-content: space-evenly;
    }

    .card{
        background-color: rgb(153, 153, 153);
        width: 30rem;
        text-align: center;
    }
    .card img {
        width: 100%;
    }
    .mainHistoria{
        gap: 1rem;
        padding: 2rem;
        display: grid;
        grid-template-areas: "article1 galeria"
                            "article2 galeria";
    }
    .article1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .article2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
