.formatoFooter {
    background-color: $color-secundario;
    width: auto;
    font-weight: 200;
    text-align: right;
    font-family: 'Kalam', cursive;
    margin: 4rem 0rem 2rem 0rem;

    p {
        margin-right: 2rem;
        font-size: 15px;
    }
}