header {
    .formatoTitulo1 {
        color: $color-principal;
        text-align: center;
        font-size: 50px;
        font-family: 'Caveat', cursive;
        border: dotted 5px grey;
        border-radius: 20px;
        margin: 10px;
    }
}