h2 {
    color: $color-principal;
    font-size: 35px;
    font-family: 'Caveat', cursive;
}

h3 {
    color: $color-principal;
    font-size: 25px;
    font-family: 'Caveat', cursive;
}

p {
    font-size: 15px;
    font-family: 'Kalam', cursive;
}